<div class="mt-4 min-height">
    <div class="mb-4 d-flex justify-content-between align-items-center pr-5">
        <div class="d-flex align-items-center">
            <h3>Danh sách nhân viên</h3>
            <a href="/staffs/create" class="btn btn-outline-primary ml-5">Thêm nhân viên</a>
        </div>
    </div>
    <table class="table table-hover border text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên nhân viên</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Email</th>
                <th scope="col">Địa chỉ</th>
            </tr>
        </thead>
        <tbody>
            {{#each staffs}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>
                    <a href="/staffs/{{this._id}}/edit">{{this.name}}</a>
                </td>
                <td>{{this.gender}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.email}}</td>
                <td>{{this.address}}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Không có nhân viên nào.
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

