<div class="mt-4 mb-5 container">
    <h1 class="text-center mb-4">Giỏ hàng của bạn</h1>
    <table class="table table-hover border text-center">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Giảm giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            {{#each cartSuccess}}
            <tr>
                <th>{{sum @index 1}}</th>
                <td>
                    <a href="/products/{{ this.slug }}">
                        {{ this.name }}
                    </a>
                </td>
                <td>{{ this.cost }} VNĐ</td>
                <td>{{ this.sale }} %</td>
                <td>
                    <a href="/cart/{{ this.id }}/down">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <b class="mx-2">{{ this.count }}</b>
                    <a href="/cart/{{ this.id }}/up">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </td>
                <td>{{ this.afterSale }} VNĐ</td>
                <td>
                    <a href="/cart/{{ this.id }}/delete"><i class="fa fa-times text-danger"></i></a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="7" class="text-center">
                    Không có sản phẩm nào trong giỏ hàng.
                    <a href="/"> Quay lại cửa hàng để tiếp tục mua sắm.</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{#if sum}}
    <h5 class="text-right">
        <span class="text-muted">Tổng tiền:</span>
        <span class="ml-3 text-danger">{{ this.sum }} VNĐ</span>
    </h5>
    {{/if}}
    <div class="d-flex justify-content-end form-cart mt-3">
        <a href="/" class="btn form-buy">Tiếp tục mua hàng</a>
        {{#if count}}
        {{#if userId }}
        <a href="/cart/check/order" class="btn form-order ml-5">Tiến hành đặt hàng</a>
        {{else}}
        <button type="button" class="btn btn-primary form-order" data-toggle="modal" data-target="#exampleModal">
            Tiến hành đặt hàng
        </button>
        {{/if}}
        {{else}}
        <a href="/cart/check/order" class="btn form-order ml-5 disabled">Tiến hành đặt hàng</a>
        {{/if}}
    </div>
    {{#if error}}
    <p class="text-danger text-right mt-3 font-italic">{{ this.error }}</p>
    {{/if}}
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">LƯU Ý!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn phải <a href="/login" class="text-danger text-decoration-none">đăng nhập</a> trước khi đặt hàng
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary">
                    <a href="/login" class="text-white text-decoration-none">Đăng nhập</a>
                </button>
            </div>
        </div>
    </div>
</div>



